
# Test Report
- This section should contain test reports for both functional- and quality
requirements (quality scenarios)
- The reports must include requirement ID (e.g. F1, F2, A2, A3…), description of
requirement, who performed the test, when it was performed, duration of
the test, evaluation (failure/success), and comment (discussion/comment
about the result).
- Quality requirement tests must additionally include stimuli, expected
response measure, and observed response measure.


### Functional Requirement Test Report
| ID | Requirement | Tester | Date | Duration | Evaluation | Comment |
|----|-------------|--------|------|----------|------------|---------|


### Quality Requirement Test Report
| ID | Requirement | Tester | Date | Duration | Stimuli | Expected Response Measure | Observed Response Measure | Comment |
|----|-------------|--------|------|----------|---------|--------------------------|--------------------------|---------|