#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.active-page-button {
  border-bottom: 5px solid #ffffff;
  border-top: 5px opaque #ffffff;
}

/* Style for all scrollbars */
::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(240, 246, 255); /* color of the track */
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(178, 214, 255); /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 165, 250); /* color of the scroll thumb */
}